#hot-icon {
	margin-right: 10px;
	color: EF5350 !important;
	vertical-align: bottom;
}

.tab-actions {
	float: right;
}

.hidden-input {
	display: none;
}

.processing {
	color: #F9A825	
}

.done {
	color: #42af5f	
}

.failed {
	color: #F4511E	
}

.list-loading {
	margin: 0 auto;
}
