#hot-icon {
	margin-right: 10px;
	color: EF5350 !important;
	vertical-align: bottom;
}

.tab-actions {
	float: right;
}

.hidden-input {
	display: none;
}

.processing {
	color: #F9A825	
}

.done {
	color: #42af5f	
}

.failed {
	color: #F4511E	
}

.list-loading {
	margin: 0 auto;
}

md-list-item.md-3-line::before, md-list-item.md-3-line > .md-no-style::before {
	min-height: 0px
}

.user-menu {
	height: 100px !important; 
}

.clear-user {
	margin-top: 2px;
}
