<html ng-app="restApi">
	<head>
		<title>Rest Api - Challange</title>
	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
		<script src="./frontend/app/app.js"></script>

		<link rel="stylesheet" href="https://gitcdn.link/repo/angular/bower-material/master/angular-material.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
	    <script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.js"></script>
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	    <link rel="stylesheet" href="./frontend/assets/app.css">
	</head>
	<body ng-controller="appController">
		<div>
			<md-content>
				<md-toolbar class="md-hue-2">
		      		<div class="md-toolbar-tools">
				        <h2 class="hot-icon">
				         	<span>
				         		<md-icon id="hot-icon">whatshot</md-icon> Rest API WebApp
				         	</span>
				        </h2>
				        <span flex></span>
				        <md-menu>
				        	<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
				            	<md-icon ng-if="userLogged">person</md-icon>
				            	<md-icon ng-if="!userLogged">person_outline</md-icon>
				        	</md-button>
				        	<md-menu-content width="3">
					            <md-menu-item>
					            	<md-button ng-if="userLogged">
						                <md-icon>exit_to_app</md-icon>
						                Logout
					            	</md-button>
					            	<md-button ng-if="!userLogged">
						                <md-icon>open_in_browser</md-icon>
						                Login
					            	</md-button>
					            </md-menu-item>
				        	</md-menu-content>
				        </md-menu>
		      		</div>
    			</md-toolbar>
			</md-content>
		</div>
		<div ng-cloak>
			<md-content class="md-padding" >
				<md-card>
				    <md-tabs md-dynamic-height md-border-bottom>
					    <md-tab label="upload">
					        <md-content class="md-padding">
					        	<h1 class="md-display-1">Rest API - Upload</h1>
					        	<p>Selecione seu arquivo e realize o upload</p>
					        	<md-button onclick="document.getElementById('uploadHidden').click()" class="md-raised md-warn"><md-icon>file_upload</md-icon>Escolha um arquivo...</md-button>
					        	<div class="hidden-input">
						        	<input id="uploadHidden" type="file">
					        	</div>
					        </md-content>
					        <div class="tab-actions">
					          	<md-button ng-click="uploadFile()" class="md-raised md-primary">Upload</md-button>
						    </div>
					    </md-tab>
				      	<md-tab label="listagem">
				  			<md-content class="md-padding">
					        	<h1 class="md-display-1">Rest API - List</h1>
					        	<p>{{ subHeaderText }}</p>
					        	<md-progress-circular ng-show="showLoading" class="list-loading" md-mode="indeterminate"></md-progress-circular>
					        	<md-list flex>
					        		<md-list-item class="md-3-line" ng-repeat="upload in uploadList" ng-click="null">
						        		<div class="md-list-item-text" layout="column">
							            	<h3><b>File Name:</b> {{ upload.fileName }}</h3>
							            	<h4><b>Status:</b> <span ng-class="upload.uploadStatus.toLowerCase()">{{ upload.uploadStatus }}</span></h4>
							            	<p><b>Time to Upload:</b> {{ upload.uploadTime }}s</p>
							          	</div>
							          	<div class="md-list-item-text" layout="column">
							            	<p><b>Number of Chunks:</b> {{ upload.chunkFileNumber }}</p>
							            	<p><b>Link:</b> <a href="{{ upload.downloadLink }}">{{ upload.downloadLink }}</a></p>
							          	</div>
						          	</md-list-item>
					        	</md-list>
			        		</md-content>
			        		<div class="tab-actions">
						    	<md-button class="md-raised md-warn" ng-click="cleanList()">Limpar</md-button>
					          	<md-button class="md-raised md-primary" id="search-btn" ng-click="listUploads()">Buscar</md-button>
						    </div>
				      	</md-tab>
				    </md-tabs>
				</md-card>
			</md-content>
		</div>
	</body>
</html>
